// Main archipelago layout

.archipelago {
  position: fixed;
  top: 3em; left: 0;
  height: 1490px;
  width: 162em;
  @include at-breakpoint($tablet) { width: 118em; }
  @include at-breakpoint($mobile) { width: 86em; }
  background: url("../images/table.jpg") no-repeat;
  background-size: 162em auto;
}

// Nav menu

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  > .nav-links {
    padding-left: 0;
    margin: 0;
    // @include at-breakpoint($mobile) { margin: 0em; }
    > .nav-link {
      display: inline-block;
      position: relative;
      padding: 0.75em 0.5em;
      margin: 0 0.5em;
      @include at-breakpoint($mobile) { margin: 0; padding: 0 0.5em; }
      &.active { font-weight: 600; }
      > a {
        height: 100%;
        @include adjust-font-size-to(20px);
      }
      // Sub-menu
      > .nav-links {
        display: none;
        position: absolute;
        z-index: 20;
        left: 0;
        top: 2.5em;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.5);
        > .nav-link {
          display: block;
          text-align: left;
          overflow-x: hidden;
          a {
            padding: 0.125em 0 0 0.5em;
            margin: 0;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
  
  .island & {
    position: absolute;
    z-index: 5;
    top: 0; left: 0;
    background: none;
    padding: 0;
    > .nav-links {
      text-align: center;
      padding: 0.25em 0;
      margin: 0;
      > .nav-link {
        padding: 0.25em 1em;
        margin: 0 0.25em;
        @include at-breakpoint($tablet) { 
          padding: 0 0.25em;
          margin: 0 0.25em;
        }
        @include trans-white-background;
      }
    }
  }
}

// Main island layout

.island {
  @include container($total-columns, $mobile);
  width: 35em;
  $p-shrink: 0.8888888887878788;
  img, iframe { width: 33em; }
  p img, p iframe {
    width: 29.333333em;
  }
  @include at-breakpoint($tablet) {
    width: 24em;
    img, iframe { width: 22em; }
    p img, p iframe { width: 19.55555555333333em; }
  }
  @include at-breakpoint($mobile) {
    width: 24em;
    img, iframe { width: 17em; }
    p { @include adjust-font-size-to(16px, 1.1); }
    p img, p iframe { width: 17em; }
  }
  
  .content {
    @include trans-white-background;
    padding: 0.25em 1em 0.25em;
    margin: 2em 0 1em;
    max-height: 60em;
    overflow-y: auto;
    @include at-breakpoint($mobile) {
      margin: 1em 0 0;
      max-height: none;
    }
  }
  
  .view {
    display: none;
    &.active {
      display: block;
    }
  }
  
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0.5em auto;
  padding: 1em 0;

  &#talujon { top: 24em; left: 2em; }
  &#main { top: 15em; left: 42em; }
  &#pieces { top: 8em; left: 82em; }
  &#gamelan { top: 30em; left: 122em;}
  @include at-breakpoint($tablet) {
    &#talujon { top: 24em; left: 2em; }
    &#main { top: 15em; left: 31em; }
    &#pieces { top: 8em; left: 60em; }
    &#gamelan { top: 30em; left: 89em;}
  }
  @include at-breakpoint($mobile) {
    &#talujon { top: 24em; left: 2em; }
    &#main { top: 15em; left: 23em; }
    &#pieces { top: 8em; left: 44em; }
    &#gamelan { top: 30em; left: 65em;}
  }
}
