/*
 *= require "./vendor/jquery.mobile.custom.structure.css"
 *= require "./vendor/jquery.mobile.custom.theme.css"
 *= require "./vendor/jquery.bxslider.css"
 *= require "./inlineplayer.css"
 *= require "./flashblock.css"
*/

@charset "utf-8";
@import 'susy';
@import "compass";

// Mixins

@mixin justified {
  text-align: justify;
  @include hyphenation;
}

@mixin fancy-font {
  font-family: 'chaparral-pro', Helvetica, Arial, sans-serif;
  .wf-loading & { display: none; }
  font-weight: 400;
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
}

@mixin trans-white-background {
  background-color: #fff; // fallback for old browsers
  background-color: rgba(255, 255, 255, 0.9);
}

// Base layout settings

$total-columns: 8;
$column-width: 4em;
$gutter-width: 1em;

$tablet: 6, 39em;
$mobile: 4, 29em;

$base-line-height: 24px;
@include establish-baseline(16px);

// Base colors

$link-color: #8c754a;

@import "base";
@import "layout";
@import "module";
@import "state";
@import "theme";

.audiojs {
  margin: 1em 0;
}
