---
title: Pocket Gamelan
---

.nav
  %ul.nav-links
    %li.nav-link 
      %a(href="#main") Pocket Gamelan
    %li.nav-link 
      %a(href="#talujon") Talujon
    %li.nav-link 
      %a(href="#gamelan") Gamelan
    %li.nav-link 
      %a(href="#brooke") Brooke &amp; Mugiyono
    %li.nav-link 
      %a(href="#ziporyn") Evan Ziporyn
    %li.nav-link 
      %a(href="#bali") Indonesian Artists
.archipelago
  .island#main
    %h1 Pocket Gamelan
    :markdown
      In 2014, the percussion sextet Talujon will present “Pocket Gamelan," an evening-length show that take its cue from Indonesian composers who have transformed the gamelan through instrument building, installation art, and multi-media approaches.  Talujon re-imagines the gamelan as a makeshift and dynamic instrumentarium, comprised of parts gathered from the surrounding environment.

      This multimedia event will feature a new work by groundbreaking composer and founding Bang on a Can All-star Evan Ziporyn, and a premiere by genre-busting composer Nick Brooke, choreographed and danced by the renowned Javanese dancer Mugiyono Kasido. The show will also feature work by Indonesian composer Dawa Alit with a film by Indonesian filmamker x, and an installation piece by the Balinese maverick I Made Subandi, in which toy gamelan parts are assembled to create a surround-sound experience.


  .island#talujon
    %h2 Talujon Percussion

  .island#gamelan
    %h2 Gamelan

  .island#brooke
    %h2 Nick Brooke &amp; Mugiyono: "The Traps"

  .island#ziporyn
    %h2 Evan Ziporyn

  .island#bali
    %h2 Indonesian Artists
