---
title: Pocket Gamelan
---

.nav= build_nav_menu

.archipelago
  .island#main
    .content
      .view.active#main-main
        :markdown 
          #Pocket Gamelan: <br />About the Project
        
          &ldquo;Pocket Gamelan&rdquo; is an evening-length show presented by
          [**Talujon**](#/talujon) percussion sextet which features newly
          commissioned works by American composers [**Glenn
          Kotche**](#/pieces/kotche "Glenn Kotche: Traveling Turtle") and
          [**Nick Brooke**](#/pieces/brooke "Nick Brooke / Mugiyono: The
          Traps"), choregraphy and performance by [**Mugiyono
          Kasido**](#/pieces/brooke "Nick Brooke / Mugiyono: The Traps"), and a
          new work by [**Dewa Alit**](#/pieces/alit "Dewa Alit"), a leading
          experimental composer from Indonesia.
          
          The multimedia program re-imagines the gamelan as a makeshift and
          dynamic instrumentarium, comprised of parts gathered from the
          surrounding environment.
          
          For more information, contact [andrew@talujon.org](mailto:andrew@talujon.org)
          
          [Click to download a PDF](/pocket-gamelan.pdf)

  .island#talujon
    .nav= build_island_menu("Talujon")
    .content
      %h2 <a href="http://www.talujon.org">Talujon Percussion</a>
      .view.active#talujon-about
        :markdown
        
          Described by the *New York Times* as an ensemble possessing an "edgy,
          unflagging energy," Talujon has been mesmerizing audiences since 1990.
          Talujon is thoroughly committed to the expansion of the contemporary
          percussion repertoire as well as the education and diversification of
          its worldwide audience. Over the past 20 years, Talujon has
          commissioned dozens of new works for percussion.
          
          Recent Talujon commissions include works by Alvin Lucier, Henry
          Threadgill, Ralph Shapey, Wayne Peterson, Julia Wolfe, Ushio Torikai,
          Louis Karchin, Eric Moe, Steve Ricks, and Chien Yin Chen. Based in New
          York, the group’s performances have included collaborations with
          Steve Reich, James Tenney, Chou Wen-chung, The Brooklyn Philharmonic,
          Meredith Monk, and Tan Dun at venues such as Carnegie Hall, Alice
          Tully Hall, Merkin Concert Hall, Symphony Space, The Kitchen, and the
          Knitting Factory. Talujon has appeared in universities and concert
          halls throughout the US, and at such festivals as Taipei's Lantern
          Festival, BAM's Next Wave Festival, Muzik3 Festival, Chautauqua,
          Festival of New American Music, and a recent European tour with Steve
          Reich and Bang on a Can. For the Carnegie Hall Neighborhood Concerts
          series, Talujon developed the program "A World of Influences," which
          incorporates Talujon group compositions featuring homemade
          instruments and traditional instruments. The group has also given
          master classes/workshops at institutions such as the Juilliard
          School, Stanford University, University of Virginia, State University
          at Buffalo, Harvard University, and the University of Oregon.
          
      .view#talujon-photos
        :markdown
          ###Bang on a Can Marathon 2012<br />World Financial Center, NYC
        
          [High-res for press](/images/high_res/talujon.zip)
          
          ![Talujon at the World Financial Center, Bang on a Can Marathon 2012](/images/talujon_all_low.jpg)
          
          ![Michael Lipsey of Talujon, Bang on a Can Marathon 2012](/images/talujon_1_low.jpg)
          
          ![Matthew Gold of Talujon, Bang on a Can Marathon 2012](/images/talujon_2_low.jpg)
    
  .island#pieces
    .nav= build_island_menu("The Program")
    .content
      .view.active#pieces-about
        %h2 The Program
        :markdown
        
          &ldquo;Pocket Gamelan&rdquo; contains three new works by American and
          Balinese composers, inspired by the composers' experience with
          gamelan music and their integration of traditional and new
          music-making techniques.
          
        .center
          :markdown
          
            **Glenn Kotche**, *Traveling Turtle*  
        
            **Nick Brooke**, *The Traps*  
            *with choreography by* **Mugiyono Kasido**  
            *Commissioned by Talujon Percussion*
        
            **Dewa Alit**, new work  
            *Commissioned by Talujon Percussion*
        
      .view#pieces-brooke
        %h2 <a href="http://www.nbrooke.com/">Nick Brooke</a> &amp; <a href="http://www.mugidance.org/">Mugiyono Kasido</a><br /><em>The Traps</em>
        
        %iframe(width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/118402547")
        
        %img(src="/images/table_sm.jpg" alt="Nick Brooke, table for The Traps")
        :markdown
        
          Composer **Nick Brooke** and dancer and choregrapher **Mugiyono
          Kasido** collaborate on the new work *The Traps*, written for Talujon
          Percussion through a Commissioning Music/USA grant. Their work is
          inspired by the ADD of contemporary techology, and scenes cut from
          one moment to the next in a semi-improvisatory mode. Brooke has
          constructed six attaché cases filled with intricate miniature glass
          and metalwork, inspired by the sound effects boxes once employed for
          live accompaniment to silent films. Mugiyono, last seen in the U.S.
          in 2005 for a solo show at the Lincoln Center Festival, dances with a
          frenetic energy: fast, unpredictable movements, often dancing to the
          point of exhaustion.
          
          ## Biography
          
          **Nick Brooke** mixes musical sampling, lipsynching, and theater into
          a genre all its own. In his works, vocalists and actors are trained
          to mimic sampled collages of sound effects, pop songs, and musical
          ephemera, blurring the line between recording and live performance.
          His work Tone Test received its premiere at Lincoln Center Festival
          in 2004 and previews on NPR and in the New York Times documented its
          innovative aesthetic.

          Brooke’s instrumental works have been performed by the Paul Dresher
          Ensemble, the Nash Ensemble of London, Orchestra 2001, Dan Druckman,
          Speculum Musicae, and New York’s Gamelan Son of Lion. His work has
          been performed across the U.S. and in Europe, and featured at the
          Lincoln Center Festival, the Spoleto Festival, and the MATA Series.
          He has received awards and residencies from the Guggenheim
          Foundation, ASCAP, the Rockefeller Foundation, Djerassi, and the
          MacDowell Colony. Originally a clarinettist, he is also an avid
          instrument builder, thereminist, and researcher of early musical
          automata. During a two-year fellowship to Central Java, he studied
          gamelan and collaborated on musical projects with Javanese composers,
          dancers, and visual artists. He holds degrees in music composition
          and philosophy from Oberlin, and a Ph.D from Princeton. He teaches at
          Bennington College.
          
          **Mugiyono Kasido** (Mugi) was born at Jogodayoh village, Klaten,
          Central Java, Indonesia in 1967. Mugiyono’s choreography ranges from
          wry social commentary, works inspired by classical Javanese dance,
          and interdisciplinary explorations. (The son of a dhalang puppeteer,
          Mugiyono is a vocalist and theater artist as well.) Mugiyono writes
          about the new work: “Orang takut untuk berhenti, waktu selalu
          berjalan dan kehidupan tidak bisa ditebak” (translation: “People are
          afraid to stop, time always ticks by and life can’t be guessed”). In
          2005, Mugiyono was invited to performhis solo work The Rumors at the
          Walker Arts Center and the Lincoln Center Festival.
          
          Working from material developed in high-energy improvisations this
          January, Nick and Mugiyono will create a work that explores a
          frenetic addiction to change, partly inspired by the ADD of
          contemporary technologies, and meditating on the culture of the “cut”.
          
          His works have been performed in Asia, Europe, Australia, USA and
          Africa, and his collaborative projects have included SOME SHINE
          (Germany, England, Israel, and Indonesia), OR LOCAL (Indonesia,
          England, the Netherlands, and Germany) and MASK DANCE SYMBIOSA
          PROJECT (Indonesia and Thailand).
          
          
          
        %img(src="/images/mugi.jpg" alt="Mugiyono Kasido")
      
      .view#pieces-kotche
        %h2 <a href="http://glennkotche.com">Glenn Kotche</a><br /><em>Traveling Turtle</em>
        
        %iframe(width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/135200859%3Fsecret_token%3Ds-QaWeG&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true")
          
        %img(src="/images/kotche.jpg" alt="Glenn Kotche")
        
        :markdown
        
          **Glenn Kotche's** piece *Traveling Turtle*, originally written for
          Gamelan Galak Tika, will appear in a new version for six
          percussionists, arranged especially for Talujon Percussion.
          
          ### Biography
          
          Chicago-based percussionist and composer **Glenn Kotche** has been
          called one of the most exciting, creative and promising composers and
          performers in modern music, receiving international attention for his
          "unfailing taste, technique and discipline" (Chicago Tribune). After
          3 solos records, including his 2006 album Mobile (Nonesuch Records),
          Kotche will release his 4th studio album in 2013. Kotche has written
          pieces for world-renowned ensembles including Kronos Quartet, The
          Silk Road Ensemble, Bang on a Can All-Stars, So Percussion and Eighth
          Blackbird. His compositions have been performed at venues as
          wide-ranging as Chicagoland's Ravinia, Carnegie's Zankel Hall and
          Lincoln Center's Alice Tully Hall in New York and Teatro Castro Alves
          in Salvador, Brazil. In addition to his work as a composer and solo
          percussionist, Kotche is a member of the groundbreaking American rock
          band Wilco, with whom he has played since 2001. With Wilco, he has
          recorded the records Yankee Hotel Foxtrot and Kicking Television, as
          well as the Grammy nominated Sky Blue Sky, Wilco (The Album) and The
          Whole Love and the Grammy-winning A Ghost is Born. In 2010, Kotche
          and his Wilco bandmates started their own music festival, Solid
          Sound, in collaboration with the Massachusetts Museum of Contemporary
          Art (MASS MoCA). Kotche contributed a permanent sound installation to
          the museum's collection, created for the 2011 festival.

          Beyond Wilco, Kotche records and performs regularly along with Darin
          Gray in the longtime rhythm duo On Fillmore. Together they have
          released four records, the most recent being Extended Vacation (Dead
          Oceans) about which Pitchfork wrote, "These seven interwoven pieces
          delight... it reveals two focused, imaginative composers and
          performers." He is also a member of the trio Loose Fur, along with
          Jim O’Rourke and Jeff Tweedy, who have just recorded their third
          studio record. A frequent collaborator, Kotche has appeared on over
          90 records to date.

          Kotche has twice appeared on the cover of Modern Drummer and once on
          the cover of Percussive Notes, the official publication of the
          Percussive Arts Society of which Kotche is currently a board member.
          He resides in Chicago with his wife and two children.
          
      .view#pieces-alit
        %h2 <a href="http://www.dewaalitsalukat.com/">Dewa Alit</a> 
        
        %iframe(width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/118402545")
          
        %img(src="/images/alit.jpg" alt="Dewa Alit")
        
        :markdown
          Balinese composer **Dewa Alit** is composing a new work for Talujon
          Percussion, to be premiered on the *Pocket Gamelan* program. His
          large body of works includes pieces for gamelan, Western instruments,
          theatre, and dance, with performances at Carnegie Hall and the Bang
          on a Can Marathon. In 2007, Alit founded his own gamelan group
          Gamelan Salukat, which performs on a set of instruments designed to
          his own tuning and specification.
        
          ### Biography
        
          Born in 1973 to a family of artists in Pengosekan village in Bali,
          Dewa Ketut Alit was immersed in Balinese gamelan from early
          childhood. His father Dewa Nyoman Sura and his oldest brother Dewa
          Putu Berata were the most influential teachers in his life. He began
          performing at age 11, and by age 13 was playing ugal (the leading
          instrument) in his village’s adult group, Tunas Mekar Pengosekan.
          From 1988-1995, he played in the internationally acclaimed Gamelan
          Semara Ratih of the Ubud village, touring internationally.

          In 1997, a year before graduating from the Academy of Indonesian
          Performing Arts in Denpasar (STSI Denpasar), Dewa Alit and his
          brothers founded Çudamani. The group was immidiately acknowledged as
          one of the best gamelan groups both locally and internationally and
          went on their own international tours.

          Dewa Alit is generally acknowledged as the leading composer of his
          generation in Bali. His *Geregel* (2000) was influential both in Bali
          and abroad, and was the subject of a 50 page analysis in the academic
          journal *Perspectives on New Music*. His composition *Semara Wisaya*,
          written for Boston gamelan group Galak Tika, was performed at
          Carnegie Hall in New York in 2004, and his composition *Pelog
          Slendro* appeared on the Bang on a Can Marathon in 2006.

          As a collaborator, Dewa Alit has worked with musicians and dancers
          from around the world. These include his own compositions using
          Balinese and Western instruments, a dance-opera with a Chinese dance
          company in 2001, a contemporary theater production *Buddha 12*
          directed by Alicia Arata Kitamura (Theatre Annees Folles, Tokyo) in
          2007 and collaboration with a butoh dancer Ko Murobushi in Asia Tri
          Jogya Festival, Jogyakarta, in 2008. Dewa Alit was a gamelan director
          for Evan Ziporyn’s new opera *A House in Bali*, performing its
          premiere with the Bang on a Can All-Stars in Bali and California in
          2009, and in Boston and New York in October 2010.

          He is regularly invited to teach and compose for gamelan outside of
          Bali, including for Gamelan Gita Asmara at University of British
          Colombia, Gamelan Galak Tika at Massachusetts Institute of
          Technology, Helena College in Perth, and Gamelan SingaMurti in
          Singapore.

          Seeking a wider path for expressing his approach to new music in
          gamalen, Dewa Alit founded his own gamelan group in 2007, Gamelan
          Salukat, performing on a new set of instruments of Alit’s own tuning
          and design.


  .island#gamelan
    .nav= build_island_menu("Gamelan")
    .content
      .view.active#gamelan-about
        %h2 About the Gamelan
        
        :markdown
          &ldquo;Gamelan&rdquo; is a catchall term for the orchestras of Java
          and Bali, most of which share gongs and slab-key metallophones, along
          with flutes, strings, and often singers. Far from a static
          instrumentarium, a gamelan can vary from a marching ensemble to a
          chamber group, and composers often augment or rebuild the gamelan.

          Since at least the Paris Exposition of 1889, the gamelan orchestra
          has been a subject of fascination and source of innovation for
          Western composers. Yet new music for gamelan is rarely heard outside
          Java and Bali, in part because the gamelan&rsquo;s gongs and slab-key
          instruments weigh in excess of two tons. As Javanese gamelan spreads
          beyond Indonesia, smaller portable amalgams called &ldquo;campur
          sari&rdquo; (or &ldquo;mixed essence&rdquo;) are emerging. In
          &ldquo;Pocket Gamelan,&rdquo; Talujon reinvents the gamelan in a
          visually striking, ingeniously transportable manner, cobbled together
          from instruments representing an archipelago of influences.
