---
title: Pocket Gamelan
---

.nav
  %ul.nav-links
    %li.nav-link 
      %a(href="#main") Pocket Gamelan
      |
    %li.nav-link 
      %a(href="#talujon") Talujon
      |
    %li.nav-link 
      %a(href="#gamelan") Gamelan
      |
    %li.nav-link 
      %a(href="#brooke") Brooke &amp; Mugiyono
      |
    %li.nav-link 
      %a(href="#ziporyn") Evan Ziporyn
      |
    %li.nav-link 
      %a(href="#bali") Indonesian Artists
  .pull-right
    [audio player goes here]
.archipelago
  .island#main
    %h1 Pocket Gamelan
    :markdown
      In 2014, the percussion sextet Talujon will present “Pocket Gamelan," an
      evening-length show that take its cue from Indonesian composers who have
      transformed the gamelan through instrument building, installation art,
      and multi-media approaches. Talujon re-imagines the gamelan as a
      makeshift and dynamic instrumentarium, comprised of parts gathered from
      the surrounding environment.

      This multimedia event will feature a new work by groundbreaking composer
      and founding Bang on a Can All-star Evan Ziporyn, and a premiere by
      genre-busting composer Nick Brooke, choreographed and danced by the
      renowned Javanese dancer Mugiyono Kasido. The show will also feature work
      by Indonesian composer Dawa Alit with a film by Indonesian filmamker x,
      and an installation piece by the Balinese maverick I Made Subandi, in
      which toy gamelan parts are assembled to create a surround-sound
      experience.

  .island#talujon
    %h2 Talujon Percussion
    :markdown
      Described by the New York Times as an ensemble possessing an "edgy,
      unflagging energy", Talujon has been mesmerizing audiences since 1990.
      Talujon is thoroughly committed to the expansion of the contemporary
      percussion repertoire as well as the education and diversification of its
      worldwide audience. Over the past 20 years, Talujon has commissioned
      dozens of new works for percussion quartet.

  .island#gamelan
    %h2 Gamelan
    :markdown
      &ldquo;Gamelan&rdquo; is a catchall term for the orchestras of Java and
      Bali, most of which share gongs and slab-key metallophones, along with
      flutes, strings, and often singers. Far from a static instrumentarium, a
      gamelan can vary from a marching ensemble to a chamber group, and
      composers often augment or rebuild the gamelan.

      Since at least the Paris Exposition of 1889, the gamelan orchestra has
      been a subject of fascination and source of innovation for Western
      composers. Yet new music for gamelan is rarely heard outside Java and
      Bali, in part because the gamelan&rsquo;s gongs and slab-key instruments
      weigh in excess of two tons. As Javanese gamelan seems to slowly die out,
      smaller portable amalgams called &ldquo;campur sari&rdquo; (or
      &ldquo;mixed essence&rdquo;) are emerging. In &ldquo;Pocket
      Gamelan,&rdquo; Talujon reinvents the gamelan in a visually striking,
      ingeniously transportable manner, cobbled together from instruments
      representing an archipelago of influences.



  .island#brooke
    %h2 Nick Brooke &amp; Mugiyono: "The Traps"
    %img(src="/images/mugi.jpg")
    :markdown
      Following more than 30 years of immersion in and creative engagement with
      Balinese gamelan, Evan Ziporyn’s new work Home Grown mixes the
      dovetailing rhythms of gamelan with Ziporyn’s own quirky language,
      re-orchestrated spontaneously on instruments gathered by the players at
      the site of each performance. The music's form and organizational
      principles will be derived from the structure of traditional gamelan
      music, and recontextualized by the newly found sounds. It is a piece that
      has a distinctive identity but is "localized" anew with each performance.

  .island#ziporyn
    %h2 Evan Ziporyn
    :markdown    
      Following more than 30 years of immersion in and creative engagement with
      Balinese gamelan, Evan Ziporyn’s new work Home Grown mixes the
      dovetailing rhythms of gamelan with Ziporyn’s own quirky language,
      re-orchestrated spontaneously on instruments gathered by the players at
      the site of each performance. The music's form and organizational
      principles will be derived from the structure of traditional gamelan
      music, and recontextualized by the newly found sounds. It is a piece that
      has a distinctive identity but is "localized" anew with each performance.

  .island#bali
    %h2 Indonesian Artists
    :markdown
      tbd...
