---
title: Pocket Gamelan
---

.nav= build_nav_menu

.archipelago
  .island#main
    .content
      .view.active#main-main
        :markdown 
          #Pocket Gamelan: <br />About the Project
        
          &ldquo;Pocket Gamelan&rdquo; is an evening-length show presented by
          [**Talujon**](#/talujon) percussion sextet which features newly
          commissioned works by American composers [**Evan
          Ziporyn**](#/pieces/ziporyn "Evan Ziporyn: Home Grown") and [**Nick
          Brooke**](#/pieces/brooke "Nick Brooke / Mugiyono: The Traps"),
          choregraphy and performance by [**Mugiyono Kasido**](#/pieces/brooke
          "Nick Brooke / Mugiyono: The Traps"), and a new work by [**Dewa
          Alit**](#/pieces/alit "Dewa Alit"), a leading experimental composer
          from Indonesia.
          
          The multimedia program re-imagines the gamelan as a makeshift and
          dynamic instrumentarium, comprised of parts gathered from the
          surrounding environment.
          
          For more information, contact [andrew@talujon.org](mailto:andrew@talujon.org)

  .island#talujon
    .nav= build_island_menu("Talujon")
    .content
      %h2 <a href="http://www.talujon.org">Talujon Percussion</a>
      .view.active#talujon-about
        :markdown
        
          Described by the *New York Times* as an ensemble possessing an "edgy,
          unflagging energy," Talujon has been mesmerizing audiences since 1990.
          Talujon is thoroughly committed to the expansion of the contemporary
          percussion repertoire as well as the education and diversification of
          its worldwide audience. Over the past 20 years, Talujon has
          commissioned dozens of new works for percussion quartet.
          
          Recent Talujon commissions include works by Alvin Lucier, Henry
          Threadgill, Ralph Shapey, Wayne Peterson, Julia Wolfe, Ushio Torikai,
          Louis Karchin, Eric Moe, Steve Ricks, and Chien Yin Chen. Based in New
          York, the group’s performances have included collaborations with
          Steve Reich, James Tenney, Chou Wen Chung, The Brooklyn Philharmonic,
          Meredith Monk, and Tan Dun at venues such as Carnegie Hall, Alice
          Tully Hall, Merkin Concert Hall, Symphony Space, The Kitchen, and the
          Knitting Factory. Talujon has appeared in universities and concert
          halls throughout the US, and at such festivals as Taipei's Lantern
          Festival, BAM's Next Wave Festival, Muzik3 Festival, Chautauqua,
          Festival of New American Music, and a recent European tour with Steve
          Reich and Bang on a Can. For the Carnegie Hall Neighborhood Concerts
          series, Talujon developed the program "A World of Influences," which
          incorporates Talujon group compositions featuring homemade
          instruments and traditional instruments. The group has also given
          master classes/workshops at institutions such as the Juilliard
          School, Stanford University, University of Virginia, State University
          at Buffalo, Harvard University, and the University of Oregon.
          
      .view#talujon-photos
        :markdown
          ###Bang on a Can Marathon 2012<br />World Financial Center, NYC
        
          [High-res for press](/images/high_res/talujon.zip)
          
          ![Talujon at the World Financial Center, Bang on a Can Marathon 2012](/images/talujon_all_low.jpg)
          
          ![Michael Lipsey of Talujon, Bang on a Can Marathon 2012](/images/talujon_1_low.jpg)
          
          ![Matthew Gold of Talujon, Bang on a Can Marathon 2012](/images/talujon_2_low.jpg)
    
  .island#pieces
    .nav= build_island_menu("The Program")
    .content
      .view.active#pieces-about
        %h2 The Program
        :markdown
        
          &ldquo;Pocket Gamelan&rdquo; contains three new works by American and
          Balinese composers, written especially for Talujon Percussion,
          inspired by the composers' experience with gamelan music and their
          integration of traditional and new music-making techniques.
          
        .center
          :markdown
          
            **Evan Ziporyn**, *Home Grown*  
            *Commissioned by Talujon Percussion*
        
            **Nick Brooke**, *The Traps*  
            *with choreography by* **Mugiyono Kasido**  
            *Commissioned by Talujon Percussion*
        
            **Dewa Alit**, new work  
            *Commissioned by Talujon Percussion*
        
      .view#pieces-brooke
        %h2 <a href="http://www.nbrooke.com/">Nick Brooke</a> &amp; <a href="http://www.mugidance.org/">Mugiyono</a><br /><em>The Traps</em>
        
        %p
          #sm2-container
          %a.sm2_link(href="/audio/pemangku.mp3") Listen to <em>Pemangku</em>, by Nick Brooke
        
        %img(src="/images/table_sm.jpg" alt="Nick Brooke, table for The Traps")
        :markdown
        
          For his new work *The Traps*, composer Nick Brooke has constructed six
          attaché cases filled with intricate miniature glass and metalwork,
          inspired by the sound effects boxes once employed for live
          accompaniment to silent films. Brooke’s work, commissioned through
          the Commissioning Music/USA program, will be developed in
          collaboration with the internationally celebrated, palace-trained
          dancer and choreographer Mugiyono Kasido, last seen in the U.S. in a
          solo performance at the 2005 Lincoln Center Festival.
          
        %img(src="/images/mugi.jpg" alt="Mugiyono Kasido")
      
      .view#pieces-ziporyn
        %h2 <a href="http://www.ziporyn.com/">Evan Ziporyn</a><br /><em>Home Grown</em>
        %p
          #sm2-container
          %a.sm2_link(href="/audio/tire_fire.mp3") Listen to <em>Tire Fire</em>, by Evan Ziporyn
          
        %img(src="/images/evan.jpg" alt="Evan Ziporyn")
        
        :markdown
        
          Following more than 30 years of immersion in and creative engagement
          with Balinese gamelan, Evan Ziporyn’s new work *Home Grown* mixes the
          dovetailing rhythms of gamelan with Ziporyn’s own quirky language,
          re-orchestrated spontaneously on instruments gathered by the players
          at the site of each performance. The music's form and organizational
          principles will be derived from the structure of traditional gamelan
          music, and recontextualized by the newly found sounds. It is a piece
          that has a distinctive identity but is "localized" anew with each
          performance.
          
          ### Biography
          
          **Evan Ziporyn** (b. 1959, Chicago) makes music at the crossroads
          between genres and cultures, east and west. He studied at Eastman,
          Yale & UC Berkeley with Joseph Schwantner, Martin Bresnick, & Gerard
          Grisey. He first traveled to Bali in 1981, studying with Madé Lebah,
          Colin McPhee's 1930s musical informant. He returned on a Fulbright in
          1987.

          Earlier that year, he performed a clarinet solo at the First Bang on
          a Can Marathon in New York. His involvement with BOAC continued for
          25 years: in 1992 he co-founded the Bang on a Can All-stars (Musical
          America's 2005 Ensemble of the Year), with whom he toured the globe
          and premiered over 100 commissioned works, collaborating with Nik
          Bartsch, Iva Bittova, Don Byron, Ornette Coleman, Brian Eno, Philip
          Glass, Meredith Monk, Thurston Moore, Terry Riley and Tan Dun. He
          co-produced their seminal 1996 recording of Brian Eno's Music for
          Airports, as well as their most recent CD, Big Beautiful Dark & Scary
          (2012).

          Ziporyn joined the MIT faculty in 1990, founding Gamelan Galak Tika
          there in 1993, and beginning a series of groundbreaking compositions
          for gamelan & western instruments. These include three evening-length
          works, 2001's ShadowBang, 2004's Oedipus Rex (Robert Woodruff,
          director), and 2009's A House in Bali, an opera which joins western
          singers with Balinese traditional performers, and the All-stars with
          a full gamelan. It received its world premiere in Bali that summer
          and its New York premiere at BAM Next Wave in October 2010.

          As a clarinetist, Ziporyn recorded the definitive version of Steve
          Reich's multi-clarinet NY Counterpoint in 1996, sharing in that
          ensemble's Grammy in 1998. In 2001 his solo clarinet CD, This is Not
          A Clarinet, made Top Ten lists across the country. His compositions
          have been commissioned by Yo-Yo Ma's Silk Road, Kronos Quartet,
          American Composers Orchestra, Maya Beiser, So Percussion, Wu Man, and
          the Boston Modern Orchestra Project, with whom he recorded his most
          recent CD, Big Grenadilla/Mumbai (2012). His honors include awards
          from the Massachusetts Cultural Council (2011), The Herb Alpert
          Foundation (2011), USA Artists Walker Fellowship (2007), MIT's Kepes
          Prize (2006), the American Academy of Arts and Letters Goddard
          Lieberson Fellowship (2004), as well as commissions from Meet the
          Composer/Commissioning Music USA and the Rockefeller MAP Fund.
          Recordings of his works have been been released on Cantaloupe, Sony
          Classical, New Albion, New World, Koch, Naxos, Innova, and CRI.

          He is Kenan Sahin Distinguished Professor of Music at MIT. He also
          serves as Head of Music and Theater Arts, and this year was appointed
          Inaugural Director of MIT's new Center for Art Science and
          Technology. He lives in Lexington, Massachusetts with Christine
          Southworth, and has two children, Leonardo (19) and Ava (12).
          
      .view#pieces-alit
        %h2 <a href="http://www.dewaalitsalukat.com/">Dewa Alit</a> 
        
        %p
          #sm2-container
          %a.sm2_link(href="/audio/salju.mp3") Listen to <em>Salju</em>, by Dewa Alit
          
        %img(src="/images/alit.jpg" alt="Dewa Alit")
        
        :markdown
          Balinese composer **Dewa Alit** is composing a new work for Talujon
          Percussion, to be premiered on the *Pocket Gamelan* program. His
          large body of works includes pieces for gamelan, Western instruments,
          theatre, and dance, with performances at Carnegie Hall and the Bang
          on a Can Marathon. In 2007, Alit founded his own gamelan group
          Gamelan Salukat, which performs on a set of instruments designed to
          his own tuning and specification.
        
          ### Biography
        
          Born in 1973 to a family of artists in Pengosekan village in Bali,
          Dewa Ketut Alit was immersed in Balinese gamelan from early
          childhood. His father Dewa Nyoman Sura and his oldest brother Dewa
          Putu Berata were the most influential teachers in his life. He began
          performing at age 11, and by age 13 was playing ugal (the leading
          instrument) in his village’s adult group, Tunas Mekar Pengosekan.
          From 1988-1995, he played in the internationally acclaimed Gamelan
          Semara Ratih of the Ubud village, touring internationally.

          In 1997, a year before graduating from the Academy of Indonesian
          Performing Arts in Denpasar (STSI Denpasar), Dewa Alit and his
          brothers founded Çudamani. The group was immidiately acknowledged as
          one of the best gamelan groups both locally and internationally and
          went on their own international tours.

          Dewa Alit is generally acknowledged as the leading composer of his
          generation in Bali. His *Geregel* (2000) was influential both in Bali
          and abroad, and was the subject of a 50 page analysis in the academic
          journal *Perspectives on New Music*. His composition *Semara Wisaya*,
          written for Boston gamelan group Galak Tika, was performed at
          Carnegie Hall in New York in 2004, and his composition *Pelog
          Slendro* appeared on the Bang on a Can Marathon in 2006.

          As a collaborator, Dewa Alit has worked with musicians and dancers
          from around the world. These include his own compositions using
          Balinese and Western instruments, a dance-opera with a Chinese dance
          company in 2001, a contemporary theater production *Buddha 12*
          directed by Alicia Arata Kitamura (Theatre Annees Folles, Tokyo) in
          2007 and collaboration with a butoh dancer Ko Murobushi in Asia Tri
          Jogya Festival, Jogyakarta, in 2008. Dewa Alit was a gamelan director
          for Evan Ziporyn’s new opera *A House in Bali*, performing its
          premiere with the Bang on a Can All-Stars in Bali and California in
          2009, and in Boston and New York in October 2010.

          He is regularly invited to teach and compose for gamelan outside of
          Bali, including for Gamelan Gita Asmara at University of British
          Colombia, Gamelan Galak Tika at Massachusetts Institute of
          Technology, Helena College in Perth, and Gamelan SingaMurti in
          Singapore.

          Seeking a wider path for expressing his approach to new music in
          gamalen, Dewa Alit founded his own gamelan group in 2007, Gamelan
          Salukat, performing on a new set of instruments of Alit’s own tuning
          and design.


  .island#gamelan
    .nav= build_island_menu("Gamelan")
    .content
      .view.active#gamelan-about
        %h2 About the Gamelan
        
        :markdown
          &ldquo;Gamelan&rdquo; is a catchall term for the orchestras of Java
          and Bali, most of which share gongs and slab-key metallophones, along
          with flutes, strings, and often singers. Far from a static
          instrumentarium, a gamelan can vary from a marching ensemble to a
          chamber group, and composers often augment or rebuild the gamelan.

          Since at least the Paris Exposition of 1889, the gamelan orchestra has
          been a subject of fascination and source of innovation for Western
          composers. Yet new music for gamelan is rarely heard outside Java and
          Bali, in part because the gamelan&rsquo;s gongs and slab-key
          instruments weigh in excess of two tons. As Javanese gamelan seems to
          slowly die out, smaller portable amalgams called &ldquo;campur
          sari&rdquo; (or &ldquo;mixed essence&rdquo;) are emerging. In
          &ldquo;Pocket Gamelan,&rdquo; Talujon reinvents the gamelan in a
          visually striking, ingeniously transportable manner, cobbled together
          from instruments representing an archipelago of influences.
